@import '../../../../base';

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: 'Lato';
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:active {
       background-color: $color-primary-dark; 
       box-shadow: 0 1rem 2rem rgba(0, 0, 0 , .2);
       transform: translateY(-3px);
    }

    &--ghost,
    &--ghost:link,
    &--ghost:visited {
        text-decoration: none;
        background-color: transparent;
        border: 1px solid #fff;
        
        &:hover,
        &:active {
            color: $color-primary-dark;
            background-color: #fff;
        }
    }
}
